<!DOCTYPE html>
<html>
<head>
  <title>Robo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
	  	<div class="container">
   			 <div class="navbar-header">
      			<a class="navbar-brand" <%= root_path %>>Robot</a>
    		</div>
    		<ul class="nav navbar-nav">
    		<li <% if params[:action] == "index" %> class="active" <% end %>><%= link_to "Start", root_path %></li>
    		<li <% if params[:action] == "privacy" %> class="active" <% end %>><%= link_to "Polityka prywatności", privacy_path %></li>
    		<li <% if params[:action] == "terms" %> class="active" <% end %>><%= link_to "Regulamin", terms_path %></li>
    		<li <% if params[:action] == "shipping" %> class="active" <% end %>><%= link_to "Dostawa", shipping_path %></li>
    		<li <% if params[:action] == "about" %> class="active" <% end %>><%= link_to "O sklepie", about_path %></li>
    		</ul>
  		</div>
	</nav>
<%= yield %>

</body>
</html>
